body {
  background-color: whitesmoke;
}
#root > div:nth-child(1) {
  background-color: rgb(92, 91, 91);
  width: 100%;
}

#root > div:nth-child(2) {
  background-color: whitesmoke;
  width: 50%;
  display: flex;
  float: left;
  flex-direction: column;
}

#root > div:nth-child(3) {
  background-color: whitesmoke;
  width: 50%;
  display: flex;
  float: right;
  flex-direction: column;
}
